<mat-card class="matcardcss">
  <mat-form-field class="login-full-width">
    <input matInput type="text" placeholder="Email" required />
  </mat-form-field>
  <hr />
  <mat-form-field class="senha-full-width">
    <input matInput type="password" placeholder="Senha" required />
  </mat-form-field>
  <hr />
  <button routerLink="/lista" style="margin-top: 1rem" mat-raised-button>
    Entrar
  </button>
  <button
    routerLink="/cadastrar"
    style="margin-top: 1rem; margin-left: 2rem"
    mat-raised-button
  >
    Cadastrar
  </button>
</mat-card>
